body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #1c1c1c;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.new-todo {
	margin-top: 10px;
	color: white;
}

.new-todo input {
	margin-right: 10px;
}
.new-todo button {
	margin-left: 10px;
}
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.filter-btn {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}
